---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Features from '~/components/widgets/Features.astro';

import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Tejiendo vínculos — Promovemos la salud mental',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contáctenos',
        href: getPermalink('/contacto'),
        target: '_blank',
        icon: 'tabler:message',
      },
      { text: 'Conoce más', href: '#caracteristicas' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Somos el principal aliado de instituciones y comunidades para el <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight"> Cuidado de la salud mental</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Tejiendo Vínculos SM</span> Implementa programas de promoción de la salud y promueve el bienestar de individuos, familias y comunidades.</span
      >
     
    </Fragment>
  </Hero>


  

  <!-- Features Widget *************** -->

  <Features
    id="caracteristicas"
    tagline=""
    title="Nuestros valores"
    subtitle="En Tejiendo Vínculos defendemos valores muy claros a través de cada una de nuestras acciones"
    items={[
      {
        title: 'Base empírica',
        description:
          'Nos comprometemos a utilizar prácticas y enfoques respaldados por la evidencia científica en el diseño y la implementación de nuestros programas y servicios.',
          icon: 'tabler:microscope',
      },
      {
        title: 'Planeación territorial',
        description:
          'Reconocemos la importancia de adaptar nuestras acciones a las características y necesidades específicas de cada territorio.',
        icon: 'tabler:map-cog',
      },
      {
        title: 'Reconocimiento de la diversidad étnica y cultural',
        description:
          'Valoramos y respetamos la diversidad étnica, cultural y lingüística de las comunidades a las que servimos, adoptando un enfoque culturalmente sensible.',
        icon: 'tabler:user-plus',
      },
      {
        title: 'Equidad',
        description:
          'Promovemos la igualdad en el acceso a nuestros servicios para todas las personas, independientemente de su origen o identidad cultural.',
        icon: 'tabler:equal-double',
      },
      
    ]}
  />

  
    <!-- Testimonials Widget *********** -->

    <Testimonials
    id="testimonios"
    title="Lo que dicen de nosotros"
    testimonials={[
      {
        testimonial: `Tejiendo Vínculos ha sido un socio invaluable para nuestra comunidad. Sus programas de Habilidades para la Vida han enriquecido nuestras actividades y han brindado un espacio seguro para que nuestros adolescentes mejoren su salud mental.`,
        name: 'Andrea Gutiérrez',
        job: 'Directora Biblioteca Municipal (Jericó).',
        image: {
          src: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen Andrea Gutierrez',
        },
      },
      {
        testimonial: `Estamos agradecidos por la colaboración de Tejiendo Vínculos en nuestra aguacatera municipal. Sus programas de manejo del estrés y bienestar emocional han mejorado la calidad de vida de nuestros trabajadores, creando un ambiente laboral más saludable y productivo..`,
        name: 'Josh Wilkinson',
        job: 'Director recursos Humanos (Aguacatera municipal)',
        image: {
          src: 'https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen Josh Wilkinson',
        },
      },
      {
        testimonial:
          'Tejiendo Vínculos ha mejorado mi vida. A través de su programa de salud mental, he encontrado el apoyo y las herramientas necesarias para superar mis desafíos emocionales y mejorar mi bienestar. Estoy agradecida por su dedicación y compromiso con nuestra comunidad.',
        name: 'María Rodríguez',
        job: 'Beneficiaria programa Salud Mental',
        image: {
          src: 'https://images.unsplash.com/photo-1512361436605-a484bdb34b5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
          alt: 'Imagen María Rodriguez',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Mira más testimonios',
      href: getPermalink('/testimonials'),
      icon: 'tabler:chevron-right',
    }}
  />




  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Blog Tejiendo Vínculos"
    information={`En nuestro blog puedes encontrar todas nuestras novedades, noticias de interés y recomendaciones para el cuidado de tu salud mental. 
                `}
  />

  

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Personas impactadas', amount: '132K' },
      { title: 'Municipio', amount: '24' },
      { title: 'Proyectos', amount: '52' },      
    ]}
  />


  

</Layout>
